.header__logo{
    display: flex;
    margin-top: 10px;
}
.header__logo img{
    width: 40px;
    height: 36px;
}
.header__logo h3{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 32px;
    color: #173A56;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.header__ul{
    display: flex;
}
.header__ul li{
    margin-left: 40px;
    list-style-type: none;
}
.header__ul li a{
    text-decoration: none;
    color: #707070;
}
.header__ul li a:hover{
    color: #22343D;
}
.header__ul a{
    text-decoration: none;
    color: #173A56;
}
.sign__in{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #22343D;
    border-radius: 10px;
    color: #22343D;
    margin-left: 50px;
    margin-top: 10px;
}
.sign__up{
    width: 100px;
    height: 40px;
    background-color: #02897A;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}
.sign__up a{
    color: #fff;
}
.day{
    background-color: transparent;
    border: none;
    height: 40px;
}
.day__night{
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 10px;
}
.black{
    background-color: #22343D;
    color: #fff;
}


.header__inner{
    display: flex;
}
.header__inner div h1{
    width: 518px;
    font-size: 40px;
    color: #22343D;
    margin-top: 145px;
}
.header__inner div p{
    color: #22343D;
    width: 458px;
    font-size: 18px;
}
.header__inner img{
    width: 600px;
}
.header__inner button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #02897A;
    color: #fff;
}
.header__inner a{
    margin-left: 40px;
    color: #02897A;
}


@media screen and (max-width: 600px) {
    .container{
        padding: 10px 20px;
    }
    .flex{
        display: inline;
    }
    .header__ul{
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
        padding-left: 0;
    }
    .header__inner {
        display: inline;
        width: 100%;
        margin-left: 0;
    }
    .header__inner div h1{
        width: 100%;
        margin-left: 0;
    }
    .header__inner img{
        width: 100%;
        margin-left: 0;
    }
    .header__inner div p{
        width: 100%;
        margin-left: 0;
    }
    


     .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 55px;
        left: 0;
        transform: translateY(-300%);
        /* z-index: 1; */
        transition: .6s;
    }

     .nav-list .nav-item {
        padding-left: 35px;
        margin-left: 0;
        padding-top: 30px;
    }
    .nav-item:hover{
        background-color: greenyellow;
    }

     .navbar-toggler {
        display: grid !important;
    }
    .header__ul li a{
        color: #fff;
    }
    .nav-listt{
        display: none;
    }
}

.navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
    position: absolute;
    margin-left: 80%;
    margin-top: -20%;
}

.navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10%;
    transition: .4s;
}

.input {
    display: none;
}

.input:checked ~ .nav-list {
    transform: translateY(0);
    height: 370px;
    padding-top: 0px;
    
}
.input:checked ~ .flex{
    padding-bottom: 100px;
}

.input:checked ~ .navbar-toggler {
    margin-top: -15%;
}

.input:checked ~ .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.input:checked ~ .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
