

.stories{
    text-align: center;
    color: #22343D;
}
.latest{
    display: flex;
    flex-wrap: wrap;
}
.latest div{
    width: 350px;
    margin: 15px;
    border: 1px solid #707070;
    border-radius: 15px;
    text-align: start;
}
.latest img{
    border-radius: 15px 15px 0 0;
    width: 347px;
}
.latest h3{
    margin-left: 20px;
}
.latest h2{
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 40px;
}


.contact__us{
    text-align: center;
    margin-top: 100px;
    color: #22343D;
}
.contact__inner img{
    margin: 30px;
}
.map{
    margin-top: 50px;
}

.send__message{
    width: 870px;
    height: 670px;
    border: 1px solid #DDDDDD;
    margin: 60px auto;
    border-radius: 15px;
    margin: 60px auto;
    text-align: center;
}
.send__inp1{
    width: 768px;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    padding-left: 30px;
    height: 50px;
    border-radius: 25px;
    font-size: 22px;
    outline: none;
}
.send__inp2{
    width: 768px;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    padding-left: 30px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    margin-top: 50px;
    font-size: 22px;
}
.send__inp3{
    width: 768px;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    padding-left: 30px;
    height: 250px;
    border-radius: 0;
    outline: none;
    margin-top: 50px;
    padding-top: -150px;
    font-size: 22px;
    text-align: start;
}
.send__message button{
    width: 120px;
    height: 40px;
    background-color: #02897A;
    color: #fff;
    border-radius: 25px;
    border: none;
    margin-left: 60px;
    margin-top: 40px;
    display: block;
}

@media screen and (max-width: 600px) {
    body{
        background-color: #fff;
    }
    .resources__head{
        display: inline;
    }
    .resources__head div{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .resources__head img{
        width: 100%;
        margin-left: 0;
    }
    .odam img{
        width: 40%;

        margin-left: 0;
    }
    .resources__head h1{
        width: 100%;
        margin: 20px auto;
        font-size: 36px;
    }
    .resources__head p{
        width: 100%;
        margin-left: 0;
    }
    .resources__head input{
        width: 90%;
        margin-left: 0;
        height: 30px;
        font-size: 14px;
        margin: 20px auto;
    }
    .resources__head button{
        height: 25px;
        width: 80px;
        margin-left: 0;
    }
    .send__message{
        width: 100%;
        margin-left: 0;
        height: 100%;
        margin-bottom: 10px;
        padding-bottom: 5%;
    }
    .send__message input{
        width: 90%;
        font-size: 14px;
        margin: 10px;
    }
    .send__inp1{
        height: 40px;
    }
    .send__inp2{
        height: 40px;
    }
    .send__inp3{
        height: 100px;
    }
    .send__message button{
        margin-top: 0;
        margin-left: 5%;
    }
    .map{
        width: 100%;
        margin-left: 0;
    }
    .latest div{
        width: 100%;
        margin-left: 0;
        margin: 10px auto;
    }
    .latest div img{
        width: 100%;
    }
}